{% extends "encyclopedia/layout.html" %}

{% block title %}
    New encyclopedia
{% endblock %}

{% block body %}
{% if exist %}
    <div class="alert alert-danger mt-2" role="alert">
        This <strong>{{ entry }}</strong> entry already exists. If you want to view or edit it, <a href="wiki/{{ entry }}">click here.</a>
    </div>
{% endif %}

    <h1>Create a new encyclopedia</h1>
    <div class="container mt-3">
        <form action="{% url 'wiki:newPage' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <div>
                <button type="submit" class="btn btn-outline-primary btn-sm">Save</button>
            </div>
        </form>
    </div>

{% endblock %}